
@{
    ViewData["Title"] = "LoggedIn";
}
<h2 class="text-success"> Congrats @ViewBag.Username</h2> <!--TODO show the username-->

<h2 class="text-success"> You are logged in.</h2>

<div>
    <a asp-controller="Recipe" asp-action="Add">Create a Recipe</a> 
</div>